:root{
    --main-bg-color: lightgrey;
    --main-font-color: black;
    --main-accent-color: yellow;
    --card-bg-color: white;
    --sidebar-bg-color: blue;
    --sidebar-font-color: white;   
   
}

body, html{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.mainContainer{
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 15rem 1fr;
}

.sidebar
{
    background-color: var(--sidebar-bg-color);
    grid-area: 1 / 1 / 3 / 2;
    color: var(--sidebar-font-color);   
}

.header{
    background-color: var(--card-bg-color);
    grid-area: 1 / 2 / 2 / 3;
    
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.dashboard{
    background-color: var(--main-bg-color);       
}