@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*VAR AND ROOT STYLING*/
:root{
    --main-bg-color: #f4f4f5;
    --main-font-color: black;
    --main-accent-color: #fbbf24;
    --card-bg-color: white;
    --sidebar-bg-color: #0284c7;
    --sidebar-font-color: white;
    --button-hover-color: #7dd3fc;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*SCROLL BAR*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
background: #888;
}
::-webkit-scrollbar-thumb:hover {
background: #555;
}

   
/*DEAFAULT STYLING*/
body, html{
    padding: 0px;
    margin: 0px;
}

ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}

button{
    cursor: pointer;
}

h1,h2,h3,h4{
    padding: 0;
    margin: 0;
}

p{
    margin: 0;
}

body{
    background-color: black;
    display: grid;
    grid-template-columns: 17rem minmax(50rem, 1fr);
    grid-template-rows: 10rem;
    overflow-y: scroll;
    min-height: 100vh;  /*safe guards body from appearing*/
}

.projectCard, .announcementContainer, .trendingContainer, .header{
    box-shadow: 1px 4px 3px grey;
}

/* SIDEBAR*/
.sidebar
{   background-color: var(--sidebar-bg-color);
    grid-area: 1 / 1 / 3 / 2;
    color: var(--sidebar-font-color);
    
    display: grid;
    grid-template-rows: 4rem 2rem repeat(6, 2.5rem) 3rem repeat(3, 2.5rem) auto 1rem;
}

.sidebar>a{
    color: var(--sidebar-font-color);
    text-decoration: none;
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    gap: 1rem;
    margin-left: 2.5rem;
    font-size: 1.5rem;  
}

.sidebar>a:nth-child(1){
    margin: 1rem .5rem;
    align-items: center;
    font-size: 1rem;
}

.sidebar>a:nth-child(1)>img{
    height: 3rem;
    width: 3rem;   
}

.sidebar>a:last-child{
    font-size: .75rem;
    justify-self: center;
    margin: 0 0.5rem
}

.sidebar>a:hover{
 
    transform: scale(1.2);
}

.sidebar>a:nth-child(1):hover, .sidebar>a:last-child:hover{
    text-decoration: none;
    transform: none;
}


/*HEADER*/
.header{
    background-color: var(--card-bg-color);
    grid-area: 1 / 2 / 2 / 3;
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem 3rem;
    z-index: 1; /*Need to put header above other DOM objects Z space for box shadow to work*/
}

.header>form{
    display:flex;
    align-items: flex-start;
    gap: .25rem;
}

.header>form>input{
    height: 1.5rem;
    width: 26rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    background-color: var(--main-bg-color);
    padding: 0 1rem;
    font-size: 1rem;
}

.nametag{
    display: grid;
    grid-template-columns: 1fr 1fr 5rem;
    align-items: center;
    justify-self: right;
    gap: .5rem;
}

.nametag>button{
    background-color: transparent;
    border: none;
}
.nametag>button:hover{
    transform: scale(1.2);
}

.header>.nametag>img{
    height: 3rem;
    width: 3rem;
}

.headerButtons{
    align-self: center;
    justify-self: right;
    display: flex;
    gap: .5rem;
}

.headerButtons>button{
    border: none;
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-font-color);
    height: 2.5rem;
    width: 5.5rem;
    border-radius: 1.25rem;
    font-size: 1rem;
}
.headerButtons>button:hover{
    background-color: var(--button-hover-color);
}

/*GREETING*/
.greeting{
    display: flex;
    gap: 0.5rem;
}

.header>.greeting>img{
    height: 4rem;
    width: 4rem;
}

/*DASHBOARD*/
.dashboard{
    background-color: var(--main-bg-color);
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(20rem, 1fr) 20rem; 
    grid-template-rows: 3rem min-content 3rem min-content 10fr;
    padding: 1rem 3rem;
}


.dashboard>h2{
    align-self: flex-end;
}

.projectCardContainer{
    grid-area: 2 / 1 / -1 / 2;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, 23rem); 
    grid-auto-rows: min-content;

    gap: 1.5rem;    
    justify-content: start;
    align-content: flex-start;   
}

.announcementContainer, .projectCard, .trendingContainer{
    background-color: var(--card-bg-color);
    border-radius: 5px;
}

.announcementContainer, .trendingContainer{
    padding: 1rem 2rem;
}

/*PROJECT CARD*/
.projectCard{
    justify-self: left;
    background: linear-gradient(to right,
                var(--main-accent-color) 10px,
                var(--card-bg-color) 10px);
    height: 13rem;
    width: 23rem;
    display: grid;
}

.projectCard>*{
    padding: 0 2rem 0 2rem;  
}

.projectCard>h3{
    align-self: flex-end;
}

.projectCard>p{
    overflow: none;
}

.projectCard>div{
    display: flex;
    align-items: flex-start;
    justify-content: right;
    gap: 1rem;    
}

.projectCard>div>button{
    border: none;
    background-color: transparent;
    outline: none;
}

.projectCard>div>button>img:hover{
    transform: scale(1.2);
}

/*ANOUCEMENT CONTAINER*/
.announcementContainer{
    display: grid;
    row-gap: 1rem;
}

.announcementContainer>div{
    display: flex;
    flex-direction: column;
}


/*TRENDING CONTAINER*/
.trendingContainer{
    grid-area: 4 / 2 / 5 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 2rem;
}

.trendingContainer>img{
    width: 3rem;
    height: 3rem;
}
